*{    cursor: url('/img/mouse1.png'), auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image:url(/img/background\ empire.png) ;
  background-repeat: no-repeat;
  color: #fff;
  overflow-x: hidden;
}

.container {
  text-align: center;
  padding: 50px 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}

header h1 {
  color: #ffdd59;
  font-size: 3em;
  margin-bottom: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.tool-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-decoration: none;
  
}

.tool {
  background-color: #4e342e;
  border-radius: 10px;
  padding: 20px;
  width: 220px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
  transform: translateY(20px);
  text-decoration: none;
  t
}

.tool img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  filter: drop-shadow(2px 4px 6px black);
}

.tool-grid a{
  color: #e7a28f;
  text-decoration: none;

}


.tool p {
  color: #ffcc80;
  font-size: 1.2em;
  margin: 0;
}

.tool:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  background-color: #5d4037;
  opacity: 1;
}

footer {
  margin-top: 50px;
}

.help-btn {
  display: inline-block; /* لجعل الرابط يتصرف كزر */
  text-decoration: none; /* إزالة الخط السفلي */
  color: inherit; /* الحفاظ على لون النص */
  padding: 12px 24px; /* زيادة الحجم الداخلي للزر */
  border-radius: 5px; /* تدوير الزوايا */
  background-color: gold; /* لون خلفية الزر */
  text-align: center; /* توسيط النص */
}

.help-btn button {
  background-color: gold; /* اللون الخلفي للزر */
  color: black; /* لون النص داخل الزر */
  border-radius: 5px; /* إزالة الحدود */
  padding: 10px 20px; /* الحشو */
  font-size: 16px; /* حجم الخط */
  cursor: pointer; /* تغيير المؤشر عند المرور على الزر */
  border-radius: 5px; /* زوايا مدورة */
}

/* لجعل التصميم متجاوبًا مع الشاشات الصغيرة */
@media (max-width: 768px) {
  .tool {
    margin-bottom: 20px;
  }
}

/* لجعل التصميم متجاوبًا مع الشاشات الصغيرة جدًا */
@media (max-width: 480px) {
  .tool-grid {
    padding: 0 20px;
  }
  .tool {
    margin-bottom: 10px;
  }
}

/* لجعل التصميم متجاوبًا مع الشاشات الكبيرة */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}



